@model IEnumerable<PartialViewLayerDB_Bieren.ViewModels.BierVM>

@{
    ViewData["Title"] = "GetBeersByAlcohol";
}

<h1>GetBeersByAlcohol</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="GetBeersByAlcohol">

            <div class="form-group">
                <label for="txtAlcohol" class="control-label">Alcoholpercentage</label>
                <input  id="txtAlcohol" name="txtAlcohol" class="form-control" />

            </div>

            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@if(Model != null){
        <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Brouwernaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Soortnaam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Alcohol)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brouwernaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Soortnaam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Alcohol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>

}